
body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    
}

:root {
    --brand-color: #4D5AE5;
    --brand-color2:#2E2F42;
    --brand-color3:#404BBF;
    

}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

button{
    cursor: pointer;
}
.logo{
        color: var(--brand-color);
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 800;
        line-height: 1.16;
        letter-spacing: 0.03em;
}

.logo-studio-header{
    color: var(--brand-color2);

}

.logo-list-link{
        color:var(--brand-color2);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.logo-list-link:hover{
    color:var(--brand-color3);
}

.logo-list-link:focus{
    color: var(--brand-color3);
}

.contacts{
        color:#434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        font-style: normal;
}

.contacts:hover{
    color: var(--brand-color3);
}

.contacts:focus{
    color: var(--brand-color3);
}


.pagination-btn{
    background-color: #F4F4FD;
    color: var(--brand-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}


.pagination-btn:hover{
    background-color: var(--brand-color3);
    color:#FFFFFF;
}

.pagination-btn:focus{
    background-color: var(--brand-color3);
    color: #FFFFFF;
}

.picture-subtitle{
    color:var(--brand-color2);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.picture-desc{
    color:#434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.footer{
    background-color: var(--brand-color2);
}

.title-footer{
    color: var(--brand-color);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

.logo-studio-footer {
    color: #F4F4FD;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.16;
    letter-spacing: 0.03em;
}


.footer-text{
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


.body{
    background-color: var(--brand-color2);
}

.title{
        font-family: "Roboto", sans-serif;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.071;
        letter-spacing: 0.02em;
        color: #FFFFFF;
}

.title-btn{
    background-color: var(--brand-color);
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
}
.title-btn:hover{
    background-color: var(--brand-color3);
}

.caption{
        color: var(--brand-color2);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.caption-desc{
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.subtitle{
        color: var(--brand-color2);
        font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
}

.aside{
    background-color: #F4F4FD;
}
.subject{
        color: var(--brand-color2);
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
}

.subject-name{
        color: var(--brand-color2);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.subject-jobtitle{
        color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

