
body{
    font-family: "Roboto", sans-serif;
    color: #4D5AE5;
    
}

:root {
    --brand-color: #4D5AE5;
    --brand-color2:#2E2F42;
    --brand-color3:#404BBF;
    

}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.title{
        font-family: "Raleway", sans-serif; 
        color: var(--brand-color);
        font-size: 18px;
        font-weight: 800;
        line-height: 1.16;
        letter-spacing: 0.03em;
}

.title-studio-header{
    color: var(--brand-color2);

}

.title-list-link{
        color:var(--brand-color2);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.title-list-link:hover{
    color:var(--brand-color3);
}

.title-list-link:focus{
    color: var(--brand-color3);
}

.contacts{
        color:#434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.contacts:hover{
    color: var(--brand-color3);
}

.contacts:focus{
    color: var(--brand-color3);
}


.pagination-btn{
    background-color: #F4F4FD;
    color: var(--brand-color);
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}


.pagination-btn:hover{
    background-color: var(--brand-color3);
    color:#FFFFFF;
}

.pagination-btn:focus{
    background-color: var(--brand-color3);
    color: #FFFFFF;
}

.picture-subtitle{
    color:var(--brand-color2);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.picture-desc{
    color:#434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.footer{
    background-color: var(--brand-color2);
}

.title-studio-footer{
    color: #F4F4FD;
}

.footer-text{
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
